
/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body{
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
}


/*　パディングをサイズ内側にする処理　*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/


#wrapper{
	width: 960px;
	margin: 0 auto;
	text-align: center
}

img{
	width: 100%;
}


#header{
	position: relative;/*相対配置*/
	/* background-image: image("../img/mainbg.png"); */
}

#header-title-text-base{
	position: absolute;/*絶対配置*/
	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
  	margin:0;
	padding:0;
	width: 960px;  
}

.header-title-text1{
	color: white;
	font-size: 48px;
	margin-bottom: 40px;
}

.header-title-text2{
	color: white;
	font-size: 36px;
}

#main-navi{
	margin-bottom: 120px;
}

#about-img{
	margin-bottom: 64px;
}

#course{
	margin-bottom: 64px;
}

#course-wrapper1{
    
}

.inline-block-half {
    display: inline-block;      /* インラインブロック要素にする */
    /* background-color:  #ccc;    背景色指定 */
	/* padding: 50px;              余白指定 */
	width: 460px;
	text-align: center;
	vertical-align: middle;
	margin: 0px;
}

.inline-block-three{
	display: inline-block;      /* インラインブロック要素にする */
    /* background-color:  #ccc;    背景色指定 */
	/* padding: 50px;              余白指定 */
	width: 33%;
	text-align: center;
	vertical-align: middle;
	margin: 0px;
	padding: 32px;
}

#neww{
	margin-bottom: 56px;
}

.news-section-img{
	margin-bottom: 32px;
}

.news-section-title{
	margin-bottom: 24px;
	text-align: left;
}

.news-section-text{
	text-align: left;
}

#course-wrapper2{
}

#course-img1{
}

#course-text1{
}

#more{
	background: #ffd61a;
	color: white;
	font-size: 21px;
	width: 300px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
}

.title1-yellow{
	font-size: 24px;
	color: #ffd61a;
	margin-bottom: 24px;
}

.title1-black{
	font-size: 24px;
	color: #222222;
	margin-bottom: 24px;
}

.title2{
	margin-bottom: 64px;
}

.title3{
	margin-bottom: 40px;
}

.about-text{
	margin-bottom: 80px;
}

img{
	width: 100%;
}

.body-base{
	width: 960px;
	margin: 0 auto;
}

.mainbg-class{
	position: relative;
}

.mainbg-class .maingb-textposition{
    position: absolute;
	top: 25%;
	margin: 0 auto;
}

.mainbg-text1{
	margin-bottom: 40px;
	color: white;
	font-size: 42px;
	text-align: center;
}

.mainbg-text2{
	color: white;
	font-size: 36px;
	text-align: center;
}

.mainmenu-class{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	height: 80px;
	width: 960px;
	margin-bottom: 120px;
}

.mainmenu-img{
	float: left;	
	border-bottom: medium solid #efefef;
	height: 100%;
}

.mainmenu-text{
	display: block;
	float: left;
	border-bottom: medium solid #efefef;
	height: 100%;
	background-color: aqua;
	font-size: 21px;
	text-align: center;
	vertical-align: middle;
}


.active {
	background-color: #da3c41;
}

/*p{
	color:#f00;
	background-color: black;
}
*/

#text1{
	color: aqua;
	background-color: brown;
}

.class1{
	color: blueviolet;
	background-color: aqua;
}




/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
---------------------*/


/*
---------------------*/



/*
---------------------*/



/*
---------------------*/



/*
---------------------*/
